body {
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --font-primary: Source Sans Pro;
  --text-color: #ffffff;
  --container-width: 1000px;
}

.header-hero-container {
  /* max-width: 100%; */
  /* margin: auto; */
  background-image: url(images/headphones_hero_1.jpg);
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.header-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 32px;
  padding: 15px 10px;
  align-items: center;
}

li {
  display: inline-block;
}

.logo {
  width: 161px;
  height: 32px;
}

.hamburger-menu {
  position: relative;
  width: 20px;
  height: 14px;
  cursor: pointer;
  display: none;
}

.hamburger-lines-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: var(--text-color);
}
.hamburger-lines-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: var(--text-color);
}
.hamburger-lines-2 {
  position: absolute;
  top: 6px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: var(--text-color);
  /* margin: 2px 2px; */
}

.nav-links {
  color: var(--text-color);
  font-size: 12px;
  font-weight: bold;
  font-family: var(--font-primary);
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s;
}

.nav-links:hover {
  color: #ff6565;
}

.nav-links:active {
  color: #ff6565;
}

.hero-container {
  max-width: 1000px;
  height: 400px;
  margin: 0 auto;
  /* margin: 10rem auto 1rem auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-header {
  font-family: var(--font-primary);
  color: var(--text-color);
  font-size: 32px;
  font-weight: bold;
  margin: 400px auto 0 auto;
}

.hero-subheader {
  font-family: var(--font-primary);
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.hero-button {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: bold;
  background-color: #ff6565;
  color: var(--text-color);
  border: none;
  padding: 0.7rem 1.3rem;
  border-radius: 20px;
  margin-top: 1.5rem;
  transition: all 0.4s;
  cursor: pointer;
}

.hero-button:hover {
  opacity: 0.9;
}

.hero-button:active {
  opacity: 0.9;
}

.hero-text {
  font-family: var(--font-primary);
  color: var(--text-color);
  font-size: 16px;
  font-weight: normal;
  max-width: 630px;
  text-align: center;
  margin-top: 100px;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  /* .header-hero-container {
        max-width: 768px;
      } */
}
@media only screen and (max-width: 600px) {
  ul {
    display: none;
  }
  .header-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 22px;
    margin-left: 20px;
  }

  .hero-container {
    max-width: 600px;
    padding: 10px;
    text-align: center;
  }
}

/* WHAT WE DO SECTION STYLES */

.what-we-do {
  max-width: 1000px;
  margin: 1rem auto;
  color: #071629;
}

.section-title {
  text-align: center;
  font-family: var(--font-primary);
  font-size: 32px;
  font-weight: bold;
  margin-top: 80px;
}

.section-subtitle {
  text-align: center;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: normal;
  width: 640px;
  margin: 80px auto 16px auto;
}

.service-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem auto;
}

.service-content {
  width: 207px;
  height: 179px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-header {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 600;
}

.content-subheader {
  text-align: center;
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
}

/* Media queries for what we do section */

@media only screen and (max-width: 768px) {
  .service-container {
    margin-top: 125px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .section-subtitle {
    max-width: 400px;
  }
  .service-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 100px;
    margin-left: 7rem;
  }
}

/* Our Results styles */

.our-results {
  background-image: url(images/headphones_hero_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: var(--text-color);
  font-family: var(--font-primary);
  text-align: center;
}

.results-title {
  font-size: 32px;
  font-weight: 600;
  padding-top: 10rem;
}

.results-subtitle {
  font-size: 16px;
  font-weight: 400;
  max-width: 600px;
  margin: 4rem auto;
}

.results-logo {
  width: 180px;
  height: 180px;
}

.our-results-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.postioning {
  position: relative;
}

.count {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 36px;
  position: absolute;
  top: 40px;
  left: 60px;
}

.results-text {
  position: absolute;
  font-family: var(--font-primary);
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  bottom: 12px;
  left: 37px;
}

@media only screen and (max-width: 768px) {
  .our-results {
    max-width: 700px;
  }
  .our-results-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
  }
  .postioning {
    position: relative;
  }

  .count {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 36px;
    position: absolute;
    top: 40px;
    left: 115px;
  }

  .results-text {
    position: absolute;
    font-family: var(--font-primary);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 14px;
    bottom: 10px;
    left: 95px;
  }
}
@media only screen and (max-width: 500px) {
  .our-results-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 60px;
  }
  .results-subtitle {
    max-width: 350px;
  }
  .postioning {
    position: relative;
  }

  .count {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 36px;
    position: absolute;
    top: 40px;
    left: 150px;
  }

  .results-text {
    position: absolute;
    font-family: var(--font-primary);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 14px;
    bottom: 10px;
    left: 130px;
  }
}
